@CHARSET "ISO-8859-1";

body {
	background-color: black;
}

#header {
	position: absolute;
	left: 100px;
}


#tabs {
	height:28px;
	width:99%;
	position:absolute;
	top:160px;
}
ul.tabs_nav {
	list-style-type:none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	height:28px;
	width: 95%;
	position:absolute;
	top:0px;
	left:40px;
}

ul.tabs_nav li {
	width: 25%;
	float:left;
	text-align: center;
}

ul.tabs_nav li a:link, a:visited{
	font-weight:light;
	color:white;
	text-align:center;
	text-decoration:none;
}

ul.tabs_nav li a:hover, a.active{
	font-weight:bold;
	color:white;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}


#main {
	background-color: white;
	position: absolute;
	top: 200px;
	width:100%;
	height: 430px;
	z-index:-2;
}
#footer {
	position: absolute;
	bottom: 0px;
	z-index: 0;
}
#footer ,	#footer div {
	width:99%;
	
}

#footer div {
	height: 80px;
	width: 11.1%;
	float: left;

}
#footer div img {
	padding: 15px 10px 5px 10px;

	width: 80px;
}

#footer_color {
	position: absolute;
	z-index: -1;
	bottom: 0px;
	height: 50px;
	width: 100%;
	/*background: -webkit-linear-gradient(black, white);
	background: -o-linear-gradient(black, gray); 
	background: -moz-linear-gradient(black, white); 
	background: linear-gradient(white, gray); Standard syntax */
}

.imghov
{
    height:25px;
    float:left;
    position:relative;
}
.imghov img:hover
{
    height: 100%;
    width: 100%;
    float:right;
   
}

#main
{
background:white;
animation:myfirst 5s;
-webkit-animation:myfirst 5s; 
}

@keyframes myfirst
{
from {background:black;}
to {background:white;}
}

@-webkit-keyframes myfirst
{
from {background:black;}
to {background:white;}
}

.tilt {

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
 .tilt a.active {
   pointer-events: none;
   cursor: default;
}

.tilt:hover {
  -webkit-transform: rotate(+360deg);
     -moz-transform: rotate(+360deg);
       -o-transform: rotate(+360deg);
      -ms-transform: rotate(+360deg);
          transform: rotate(+360deg);
}